body {
  font-family: 'Tahoma', sans-serif !important;
  background-color: #e5e5e5 !important;
  font-size: 11px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

p,
span,
a,
li,
ul,
div,
td,
th,
label {
  font-family: 'Tahoma', sans-serif !important;
  font-size: 11px !important;
}

.MuiMenu-paper {
  max-height: 400px !important;
}

.pagination_mobile {
  width: 100%;
  justify-content: space-between;

  p {
    margin-right: 10px;
  }
}

.btn-add-new {
  color: white !important;
  width: 100%;
  bottom: 8px;
  position: fixed;
  padding: 0 1rem;
  height: 40px;
  box-sizing: border-box;

  button {
    width: 100%;
    padding: 0px !important;
    height: 100% !important;
    border-radius: 6px;
  }
}

.w-100 {
  width: 100%;
}

.mb-8 {
  margin-bottom: 8px;
}

.xs-margin-top-16 {
  @media (max-width: 600px) {
    margin-top: 16px !important;
  }
}

.display_sm_none {
  @media (max-width: 600px) {
    display: none !important;
  }
}

.table_cell_link {
  text-decoration: none;
  color: #0051ee;
  a {
    text-decoration: none;
    color: #0051ee;
  }
}

.width-100 {
  width: 100%;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
  border-radius: 8px;
}

.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm {
  border-radius: 0;
}

.btn {
  cursor: pointer;
}

table {
  th,
  td {
    padding: 0 10px !important;
  }
}

tr {
  height: 40px;
}

.btn_close_modal {
  width: 10px;
  height: auto;
}
