.common_modal {
  .dialog_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0rem 24px 0 24px;

    .title {
      font-size: 14px;
      font-weight: bold;
      margin-top: 28px;
      margin-bottom: 24px;
    }
  }

  .modal_content {
    padding: 10px 24px 21px 24px;;
    overflow: auto;
  }
}
