.invalid-select {
  border: 0.5px solid #f65256;
  border-radius: 8px;
}

.invalid-select:focus {
  outline: none;
  border-color: #dc004e;
}
.css-tlfecz-indicatorContainer:hover {
  cursor: pointer;
}
.css-g1d714-ValueContainer {
  cursor: text;
}
.css-26l3qy-menu:hover {
  cursor: pointer;
}
.css-26l3qy-menu {
  cursor: pointer;
}
.react-select__menu-list {
  cursor: pointer;
}
.react-select__option div {
  cursor: pointer;
}
