.form-group {
  .customized-select-document {
    li:hover {
      background-color: #deebff;
    }
    .MuiListItem-button:hover {
      background-color: #deebff !important;
    }

    div#customized-select {
      display: flex;
      align-items: center;
    }
  }
  .errors-document {
    color: #f65256;
  }
  .option-selected:hover {
    background-color: #deebff;
  }

  li:hover {
    background-color: #deebff !important;
  }
  .MuiListItem-button:hover {
    background-color: #deebff !important;
  }
}
.MuiListItem-button:hover {
  background-color: #deebff !important;
}
.MuiListItem-root.Mui-selected {
  background-color: #2684ff !important;
}
.MuiListItem-root.Mui-selected .MuiListItem-root.Mui-selected:hover {
  background-color: #deebff !important;
}
