.styled-pagination {
  .MuiPagination-ul {
    display: flex;
    flex-wrap: nowrap;
  }

  button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-page.MuiPaginationItem-rounded.Mui-selected {
    background-color: #00205c !important;
  }
}

.spares-container {
  .MuiSelect-select.MuiSelect-select {
    padding-right: 30px;
    padding-left: 6px;

    &:focus {
      border-radius: 4px;
    }
  }
}
