body {
  margin: 0;
}

.header {
  // border-bottom: 1px solid;
  background-color: #00205c;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  box-shadow: none;
  // padding: 8px 16px;
  > .logo_container {
    padding: 8px 0 4px 28.62px !important;
  }

  img {
    width: 41.57px;
    height: auto;
    cursor: pointer;
  }

  .header_icon_right_container {
    display: flex;
    justify-content: flex-end;
  }

  > div:last-child {
    // display: flex;
    // justify-content: flex-end;
    // align-items: center;
    svg {
      float: right;
      cursor: pointer;
    }
  }
  .btn-menu {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    margin-left: 36px;

    .link-styled {
      text-decoration: none;
      padding: 0 8px;
      height: 44px;
      align-content: center;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 700;
      font-size: 13px !important;

      &:hover,
      &:active {
        border-bottom: 2px solid #fff;
        border-top: 2px solid transparent;
      }

      &.link-active {
        border-bottom: 2px solid #fff;
        border-top: 2px solid transparent;
      }
    }
  }
  .link-styled {
    text-decoration: none;
  }

  .header_left_container {
    display: flex;
    justify-content: flex-end;

    .logout_button {
      padding-right: 13px;
    }
  }

  .header_icon {
    color: #fff;
  }
}

.item-popover {
  .MuiPopover-paper {
    top: 50px;
    left: 1309px;
    width: 100%;
    height: 500px;
  }

  .MuiContainer-root {
    height: 100%;
    overflow-y: auto;
  }
}

.item-container {
  width: 100%;
  display: flex;
}

.item-duration {
  width: 30%;
}

.item-notification {
  width: 67%;
  padding-right: 3%;
}

.truncate {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon-notification {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 14px;
}
.item-popover {
  width: 33%;
}
.unread-notification {
  background-color: #cccccc;
}

@media only screen and (max-width: 768px) {
  .item-popover {
    .MuiPopover-paper {
      max-width: 100% !important;
      left: 0px !important;
      top: 10% !important;
      max-height: 50% !important;
    }
  }

  .item-popover {
    max-height: 100%;
    width: 100%;
    top: 40%;
  }
}

@media only screen and (max-width: 320px) {
  .item-popover {
    .MuiPopover-paper {
      max-width: 100% !important;
      left: 0px !important;
      top: 10% !important;
      width: 100%;
      max-height: 50%;
    }
  }

  .item-popover {
    max-height: 100%;
    width: 100%;
  }
}

header.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionSticky.MuiAppBar-colorPrimary.MuiPaper-elevation4 {
  box-shadow: none;
}
