.app_button {
  height: 40px;
  padding: 10px 20px !important;
  text-transform: initial !important;

  &.app_button_primary {
    border-radius: 20px !important;
    height: 40px !important;
    font-size: 12px !important;
    min-width: 125px !important;
    color: #fff;
    background-color: #00205c;

    &:hover {
      background-color: #00205c;
    }

    &:disabled {
      color: #FFF;
      opacity: 0.6;
    }

    @media only screen and (max-width: 600px) {
      height: 32px !important;
      border-radius: 4px !important;
      min-width: 95px !important;
    }
  }

  &.app_button_primary_yellow {
    border-radius: 20px !important;
    height: 40px !important;
    font-size: 12px !important;
    min-width: 125px !important;
    color: #fff;
    background-color: #f29f24;

    &:hover {
      background-color: #f29f24;
    }

    @media only screen and (max-width: 600px) {
      height: 32px !important;
      border-radius: 4px !important;
      min-width: 95px !important;
    }
  }

  &.app_button_outline {
    background: #ffffff;
    border: 1px solid #00205c;
    box-sizing: border-box;
    border-radius: 40px;
    color: #00205c;

    @media only screen and (max-width: 600px) {
      height: 32px !important;
      border-radius: 4px !important;
      min-width: 95px !important;
    }
  }

  &.app_button_secondary {
    border-radius: 20px !important;
    height: 40px !important;
    font-size: 12px !important;
    min-width: 125px !important;
    color: #707070;
    background-color: #e1e1e1;
    border: 1px solid #cccccc;

    @media only screen and (max-width: 600px) {
      height: 32px !important;
      border-radius: 4px !important;
      min-width: 95px !important;
    }
  }
}
