.file-area {
  width: 90px;
  height: 90px;
  position: relative;

  input[type='file'] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    background-color: red;
  }

  .file-dummy {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1e1e1;
    border: 1px dashed #b2b2b2;
    box-sizing: border-box;
  }
  .display-add-icon {
    visibility: hidden;
  }
  .add-icon {
    visibility: visible;
  }
  .input-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}
