.head-asset-report-create {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .MuiButton-root {
      text-transform: capitalize;
    }
   
    .save-create-cluster-report {
      background-color: #00205c;
      font-size: 12px;
      width: 125px;
      margin-right: 16px;
      color: white;
      height: 40px;
      border-radius: 0px;
      
     
    }
    .cancel-cluster-report {
      background-color: #e1e1e1;
      font-size: 12px;
      width: 125px;
      color: #707070;
      height: 40px;
      border-radius: 0px;

    }
  }
  .head-asset-report-create  div:first-child {
    display: flex;
    flex-direction: column;
    span:first-child {
      font-size: 12px;
      line-height: 14px;
      color: #878787;
    }
    span:last-child {
      font-size: 24px;
      color: #242424;
      font-weight: 500;
    }
  }