@import '~antd/dist/antd.css';
body {
  margin: 0;
  box-sizing: border-box;
}
.search-container {
  margin-top: 37px;
  margin-bottom: 37px;

  @media (max-width: 768px) {
    margin-bottom: 31px;
  }

  @media (max-width: 600px) {
    margin-top: 0;
  }

  .form-search-managerment {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    label {
      font-weight: 600;
    }

    .field-input-search {
      width: 20%;
    }

    .search-form {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      width: 100%;

      @media only screen and (max-width: 600px) {
        flex: 4;
      }

      @media only screen and (min-width: 992px) {
        flex: 4;
      }

      .input-field {
        flex: 1;

        padding-right: 16px;

        @media only screen and (max-width: 600px) {
          padding-right: 8px;
        }

        .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
          @media only screen and (max-width: 600px) {
            max-width: 100%;
          }
        }

        &.mr-md-0 {
          @media only screen and (min-width: 600px) and (max-width: 992px) {
            padding-right: 0;
          }
        }
      }

      &.flex-1 {
        @media only screen and (min-width: 600px) {
          flex: 1;
        }
      }
    }

    .btn_container {
      display: flex;
      align-items: flex-end;

      @media only screen and (max-width: 600px) {
        flex: 1;
      }

      @media only screen and (min-width: 600px) {
        margin-top: 16px;
      }

      @media only screen and (min-width: 992px) {
        flex: 0.5;
        margin-left: 16px;
        justify-content: flex-end;
      }

      &.flex-1 {
        @media only screen and (min-width: 600px) {
          flex: 2;
          justify-content: flex-end;
        }

        @media only screen and (min-width: 992px) {
          flex: 3;
          justify-content: flex-end;
        }
      }

      &.flex-4 {
        @media only screen and (max-width: 600px) {
          flex: 0.5;
        }
      }
    }
  }
}
.label-search {
  margin-bottom: 4px;
  font-weight: 600;
}
.title_managerment {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;

  svg {
    width: 16px;
    height: 16px;
    margin-right: 9px;
  }
}
.title_management_header {
  span:first-child {
    color: #878787;
    font-weight: 400;
  }

  .title {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.02em;
  }
}
.btn-created {
  background-color: #6aaae4 !important;
  color: #ffffff !important;
  width: 125px;
  height: 40px;
}

.btn-search {
  background-color: #00205c !important;
  color: white !important;
  margin-top: 22px !important;
}
.MuiButton-text {
  padding: 12px 8px !important;
}
.mr-0 {
  margin-right: 0;
}

.button-clean-text-search {
  border: 0px;
  display: flex;
  background-color: white;
  cursor: pointer;
  @media only screen and (min-width: 768px) {
    margin-right: -14px;
    display: flex;
    .MuiSvgIcon-root {
      font-size: 0.85rem;
    }
  }
  @media only screen and (max-width: 600px) {
    margin-right: -14px;
    display: flex;
    .MuiSvgIcon-root {
      font-size: 0.85rem;
    }
  }
  @media only screen and (min-width: 640px) and (max-width: 768px) {
    margin-right: -14px;
    display: flex;
    .MuiSvgIcon-root {
      font-size: 0.85rem;
    }
  }
}
.button-clean-text-search:active {
  border: 0px;
  background-color: white;
  outline: none;
}
.button-clean-text-search:focus {
  border: 0px;
  background-color: white;
  outline: none;
}
@media (max-width: 600px) {
  .labelx-search {
    margin-bottom: 10px;
  }
}
