@media only screen and (min-width: 992px) {
  .search-container {
    .form-search-management {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .form-control-user-search {
        width: 20%;

        .styled-input-font-size {
          input {
            font-size: 12px;
          }
        }

        .selected-user-search {
          .MuiInputBase-formControl {
            margin-top: 0px;
          }
        }

        .MuiSelect-select:focus {
          background-color: white;
        }

        .MuiInputBase-formControl {
          margin-top: 0px;
        }

        #user-management-search-selected {
          padding: 6.5px 14px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          .MuiSelect-select:focus {
            background-color: white;
          }

          .MuiSelect-selected {
            font-size: 12px;
          }
          .li-styled .Mui-selected.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button.Mui-selected {
            font-size: 12px;
          }
          .MuiListItem-button {
            font-size: 12px;
          }
        }
      }
      .btn-search-styled {
        margin-top: 13px;
      }
    }

    li:hover {
      background-color: #deebff !important;
    }
    .Mui-selected {
      background-color: #2684ff !important;
    }
  }
  .MuiListItem-root.Mui-selected {
    background-color: #2684ff !important;
  }
  .MuiListItem-button:hover {
    background-color: #deebff !important;
  }
  .MuiMenuItem-root {
    font-size: 12px;
  }
  .Mui-selected:hover {
    background-color: #2684ff !important;
  }
  .MuiListItem-root.Mui-selected,
  .MuiListItem-root.Mui-selected:hover {
    background-color: #2684ff !important;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .search-container {
    .form-search-management {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .form-control-user-search {
        
        width: 23%;
        margin-right: 10px;
        .selected-user-search {
          .MuiInputBase-formControl {
            margin-top: 0px;
          }
        }
        .MuiSelect-select:focus {
          background-color: white;
        }

        .MuiInputBase-formControl {
          margin-top: 0px;
        }

        #user-management-search-selected {
          padding: 6.5px 14px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          .MuiSelect-select:focus {
            background-color: white;
          }
        }
      }
      .btn-search-styled {
        margin-left: 0px;
        margin-top: 16px;
      }
    }
    li {
      font-size: 12px !important;
    }

    .MuiMenuItem-root:hover {
      background-color: #deebff;
    }
    .Mui-selected {
      background-color: #2684ff !important;
    }
    .Mui-selected:hover {
      background-color: #2684ff !important;
    }
    .MuiListItem-root.Mui-selected,
    .MuiListItem-root.Mui-selected:hover {
      background-color: #2684ff !important;
    }
  }
}
li {
  font-size: 12px !important;
}
