.search-container {
   
  .form-search-cluster-report {
    display: flex;
    flex-direction: row;
    align-items: center;
    .MuiInputBase-root {
      margin-top: 0px;
    }

    .form-control-cluster-report-search {
      margin-right: 17px;
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      align-self: self-start;
      #my-input-cluster-selection {
        padding: 6.5px 26px 6.5px 12px;
        border-radius: 0px;
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: pre-line;
        text-overflow: ellipsis;
        .MuiMenuItem-root {

            font-size: 12px  !important;
        }
       
        li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.Mui-selected.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button.Mui-selected {
          font-size: 12px;
        }
       
      }
    }
    .report-cluster-name {
      @media only screen and (max-width: 760px) {
        width: 40%;
      }
      @media screen and (max-width: 600px) {
        width: 70%;
      }
    }
    .hidden-mobile {
      @media only screen and (max-width: 760px) {
        display: none;
      }
    }
    .btn-search-cluster {
      width: 125px;
      margin-top: -8px;
      @media screen and (max-width: 600px) {
        width: 25%;
        margin-top: 17px;
      }
    }
    .btn-search {
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
  .MuiFormControl-marginNormal {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .form-control-user-search {
    .MuiInputBase-formControl {
      height: 40px;
    }
  }
  .selected-period-search {
    width: 100%;
    .MuiInputBase-root {
      height: 40px;
    }
    .MuiOutlinedInput-root {
      border-radius: 0px;
    }
  }
  li:hover {
    background-color: #DEEBFF;
  }
}
