.select_container {
  margin-top: 0 !important;
  .MuiSelect-select {
    border-radius: 8px;

    &:focus {
      border-radius: 8px;
      background-color: #fff;
    }
  }
}

.validate_error {
  .MuiSelect-select {
    border-color: #f65256;
  }
}

@media only screen and (min-width: 992px) {
  .selected-user-search {
    .MuiInputBase-formControl {
      margin-top: 0px;
    }

    .no_option_text {
      min-height: 50px;
    }
  }
  li:hover {
    background-color: #deebff !important;
  }
  .Mui-selected {
    background-color: #2684ff !important;
  }
  .MuiListItem-root.Mui-selected {
    background-color: #2684ff !important;
  }
  .MuiListItem-button:hover {
    background-color: #deebff !important;
  }
  .MuiMenuItem-root {
    font-size: 12px;
  }
  .Mui-selected:hover {
    background-color: #2684ff !important;
  }
  .MuiListItem-root.Mui-selected,
  .MuiListItem-root.Mui-selected:hover {
    background-color: #2684ff !important;
  }
}
