.title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;

  @media (max-width: 600px) {
    margin-bottom: 1rem;
  }

  .title_content {
    p {
      margin: 0;
      line-height: 14.06px;
      font-weight: 400;
      color: #878787;
    }

    h3 {
      margin: 0;
      font-size: 24px;
      line-height: 28.8px;
      font-weight: 500;
    }
  }

  .add_button_container {
    display: flex;
    flex-direction: row;

    @media (max-width: 600px) {
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
    }
  }
}
