.form-group {
  input[type='file'] {
    display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    cursor: pointer;
  }
  .form-control-upload {
    display: flex;
    width: 100%;
    .MuiFormControl-root {
      width: 85%;
    }
    .not-allowed-edit-upload {
      .MuiInputBase-input.Mui-disabled {
        cursor: not-allowed;
      }
      input {
        font-size: 12px;
      }
    }
  }
}
