.form-search-managerment {
    .form_control_input {
        width: 100% !important;
        margin-right: 8 !important;
    }

    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {

        @media only screen and (max-width: 600px) {
            height: 32px;
            border-radius: 6px !important;
        }
    }
}