.pageNotFoundContainer {
  display: flex;
  height: 100vh;
  background-color: #f3f3f3; 
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .notFoundImage {
    height: 270px;
  }
 
  .notFoundMessage {
    font-size: 22px;
    margin-top: 20px;
  }
}