@media screen and (max-width: 600px) {
    .style-header-mobile{
        .style-header-mobile-ul {
            margin-top: 0px;
            margin-bottom: 0px;
            .MuiListItemText-root {
                margin-top: 0px;
                margin-bottom: 0px;
            }
            span {
                font-size: 12px;
                font-weight: bold;
            }
        }

    }
    .active-url {
        background-color: #00205C !important;
        color: white !important;
        .MuiListItem-button{
            background-color: #00205C;
            color: white;
        }
       
    }
    li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.WithStyles\(ForwardRef\(MenuItem\)\)-root-16.style-header-mobile.active-url.MuiMenuItem-gutters.MuiListItem-gutters.MuiListItem-button{
        background-color: #00205C;
        color: white;
    }
    
}
