.cell-action {
  display: flex;
  justify-content: flex-start;
}
.btn-action {
  cursor: pointer;
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.btn-action:hover {
  background-color: #f6f6f6 !important;
}

.table_custom_container {
  font-size: 12px;
  border-left: 1px solid rgb(219, 224, 229);
  border-right: 1px solid rgb(219, 224, 229);

  th span:first-child {
    white-space: nowrap;
  }
}

.table_cell_custom {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;

  .text-capitalize {
    text-transform: capitalize;
  }
}

.table_row_custom {
  td {
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    font-size: 12px;
  }
}
.cluster-report-action {
  display: flex;
}
.detail-cluster-report {
  text-decoration: none;
  color: #0051ee;
}
.table_body_company {
  tr td {
    font-size: 12px;
  }
}
