.confirm_dialog_container {
  .MuiPaper-root.MuiDialog-paper {
    width: 375px;
    height: 220px;
  }

  .dialog_title {
    padding: 22px 22px 16px 22px;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      color: #f29f24;
      display: flex;
      justify-content: space-between;
    }

    img {
      cursor: pointer;
    }
  }

  .dialog_content {
    display: flex;
    align-items: center;

    .img_container {
      width: 72px;
      margin-right: 10px;

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }

    &_text {
      font-style: normal;
      font-weight: normal;
      font-size: 13px !important;
      line-height: 20px;
    }

    .msg_text {
      margin: 0;
      font-size: 12px !important;

      u {
        color: rgb(68, 114, 196); 
      }
    }
  }

  .dialog_content_text {
    width: 100%;
  }

  .MuiDialogActions-root.MuiDialogActions-spacing {
    padding: 6px 24px 16px 0;
  }
  .mr-8 {
    margin-right: 8px;
  }
}
