.number-field {
  padding: 12px;
  border-radius: 2px;
  border: 0.5px solid #b2b2b2;
}
.number-field:focus {
  outline: none;
}
.invalid-number {
  padding: 12px;
  border: 0.5px solid #f65256;
  border-radius: 2px;
}

.invalid-number:focus {
  outline: none;
  border-color: #dc004e;
}

.errors {
  color: #f65256;
}

.required {
  color: #f65256;
}
