.custom-editor {
   
#toolbar {
    border: none;
}
.ql-container {
    font-family: Arial, 'Roboto' !important;
    height: 160px;
    .ql-editor {
        p {
            font-family: 'Roboto', Arial !important;
        }
    }
   

    
}
.ql-snow {
    border: none !important;
}
.ql-editor ul > li::before {
    content: '\25AA'
}

}