.alert {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 300px;
  z-index: 1000;
}
@media only screen and (max-width: 600px) {
  .alert-success-mobile {
    .MuiAlert-message {
      padding: 0px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .alert-success-mobile {
    .MuiPaper-root {
      min-height: auto;
    }
  }
}
.MuiAlert-filledError {
  z-index: 99999999;
}

.snackbar-container {
  .MuiPaper-root.MuiAlert-root.MuiAlert-filledSuccess {
    height: 56px;
    background-color: #e8fce5;
    border-radius: 6px;

    .MuiAlert-icon {
      align-items: center;

      svg {
        font-size: 24px;
        color: #157b28;
      }
    }

    .MuiAlert-message {
      color: #202d35;
      p {
        margin-top: 0;
        margin-bottom: 3px;
        font-size: 12px !important;
        font-weight: bold;
        color: #157b28;
      }
    }

    .MuiAlert-action {
      svg {
        color: #157b28;
      }
    }
  }
}
