
.default-values {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-loader-container {
  background-color: black;
  opacity: 0.5;
  height: 100vh;
  z-index: 1000;
  width: 100%;
  position: fixed;
}
