.errors {
  color: #f65256;
}

.required {
  color: #f65256;
}
.text-area {
  textarea {
    padding: 0px 0px !important;
    height: 100%;
  }

  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
    height: 102px;
    padding: 14px !important;
  }
}
