.adq-company-list {
  width: 100%;

  .company-list-container {
    width: 100%;
    padding: 8px;

    @media (max-width: 600px) {
      padding-left: 0;
      padding-right: 0;
    }

    h5 {
      text-align: center;
      font-weight: bolder;
      padding-left: 16px;
      padding-top: 16px;
    }

    .table_container {
      background-color: #fff;
      padding: 1rem;
      height: 100%;
    }

    table {
      .company_status {
        height: 18px;
        border-radius: 9px;
        line-height: 20px;
      }
      .approved {
        background-color: #b6d7a8;
      }
      .saved-as-draft {
        background-color: #d7e1e6;
      }
      .rejected {
        background-color: #ea9999;
      }
      .pending {
        background-color: #ffe599;
      }
    }
  }
}

.text-center {
  text-align: center;
}

.dialog_edit_task {
  .MuiPaper-rounded {
    border-radius: 0px;
    min-height: 359px;
    width: 501px;
    max-width: 501px;

    .form_header {
      margin: 28px 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > p {
        font-size: 14px;
        font-weight: 700;
        margin: 0;
      }
    }

    .MuiDialogContent-root {
      overflow: hidden;
    }
  }

  .form_content {
    position: relative;

    .actions {
      width: 100%;
      position: absolute;
      bottom: 21px;
      right: 0;
      display: flex;
      justify-content: flex-end;
      padding: 0 21px;

      @media (max-width: 600px) {
        display: flex;
        justify-content: space-evenly;
        padding: unset;
      }

      .btn {
        height: 40px;
        font-family: 'Roboto', sans-serif;
        max-width: 125px;
        margin-left: 15px;

        @media (max-width: 600px) {
          margin-left: 0;
        }
      }
    }
  }
}

.reviewer_choose_dialog {
  .dialog-content {
    margin-bottom: 100px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
}
