.form-control-document {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  .form-control-label {
    width: 25%;
  }
  .form-control-error {
    display: flex;
    flex-direction: column;
    width: 75%;
    .errors-document {
      margin-top: 6px;
      color: red;
    }
  }
}

.input_field_document {
  div {
    height: 40px;
  }
}
